body{
    background-color: khaki;
    font-size: 17px;
    font-family: 'Indie Flower', cursive;
}
h1{
    font-size: 26px;
    color: black;
    font-family: 'Satisfy', cursive;
}
h3{
    font-size: 21px;
    color: black;
    font-family: 'Satisfy', cursive;
}